#puzzle {
    float: left;
    padding-left: 10px;
}

#details {
    margin: 1em;
}

#details div.title {
    font-size: 150%;
}

#default div.author {
    font-size: 120%;
}

#details .label {
    font-weight: bold;
}

#details .preview {
    background-color: #88f;
    font-size: 24px;
    line-height: 30px;
}

#theclue {
    font-size: 125%;
    margin: 0px 0px 10px 0px;
    vertical-align: middle;
}

#theclue>span {
    display: block;
    float: left;
    margin: 0px;
    height: 100%;
    padding: 5px;
    font-weight: bold;
    line-height: 20px;
}

#theclue .label {
    background-color: #88f;
}

#puzzlegrid {
    float: left;
    border-left: 1px solid black;
    border-top:  1px solid black;
}

#puzzlegrid .row {
    height: 30px;
    padding: 0px;
    margin: 0px;
    clear: both;
}

#puzzlegrid .cell {
    width: 30px;
    height: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
    padding: 0px;
    margin: 0px;
}

#puzzlegrid .cell .fill {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: baseline;
    position: absolute;
    left: 4px;
    top: 4px;
}

#puzzlegrid .cell .cellbody {
    position: relative;
    width: 26px;
    height: 26px;
    margin: 2px;
}

#puzzlegrid .cell .numberlabel {
    float: left;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-family: serif;
}

#puzzlegrid .cell.correct {
    background-color: #9f9;
}

#puzzlegrid .cell.filled {
    background-color: black;
}

#puzzlegrid .cell.selected {
    background-color: #77f;
}

#puzzlegrid .cell.inword {
    background-color: #ccf;
}

#puzzlegrid .cell.otherword {
    background-color: #ccc;
}

#puzzlegrid .cell.wrong {
    color: red;
}

#puzzlegrid .cell.pencil {
    color: #777;
}

#puzzlegrid .cell.wrong .cellbody {
    border: 2px solid #f33;
    margin: 0px;
}

#puzzlegrid .cell.checked .cellbody {
    border: 2px solid #c66;
    margin: 0px;
}

#puzzlegrid .cell.reveal .cellbody {
    border: 2px solid #66f;
    margin: 0px;
}

#puzzlegrid .cell.circled .circle {
    border: 1px solid #000;
    border-radius: 15px;
}

#clues {
    font-family: serif;
    font-size: 90%;
    margin-left: 5px;
    float: left;
    width: 200px;
    border: 1px solid black;
    padding: 3px;
}

#clues .section {
    margin: 3px;
    border: 1px solid black;
}

#clues .title {
    height: 25px;
    background: #ccc;
    border-bottom: 3px double black;
}

#clues .cluelist {
    overflow-y: scroll;
    height: 190px;
}

#clues .clue {
}

#clues .clue.selected {
    background-color: #ccf;
}

#clues .clue.otherword {
    background-color: #ccc;
}

.clear {
    clear: both;
}

#controls {
    float: left;
    padding-left: 10px;
}

#controls a.dropdown-toggle {
    color: black;
}

#controls a.check-ok {
    background-color: #3f3;
}

#controls .player-label {
    padding: 5px 0px;
}

#player-list input {
    font-size: 90%;
    width: 10em;
    line-height: 80%;
}

#shortcuts-help {
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 100;
    background-color: #333;
    border-radius: 20px;
    opacity: 0.9;
    border: 2px solid black;
}

#shortcuts-help .contents {
    opacity: 1;
    color: white;
    padding: 3em;
}

#shortcuts-help .contents th {
    padding-right: 1em;
}

.sidebar-link {
    font-size: 80%;
    display: block;
}
